body {
    height: 100vh;
    padding: 100px;
    margin: 0;
    align-items: center;
    font: 32px 'Segoe UI', Arial, Helvetica, sans-serif;
    background: #f3f3f3;
    transition: all 3s ease;
}
.block{
  z-index: -100;
}
.text{
  overflow: hidden;
}
.table{
  overflow: auto;
}
.div{
  display: flex;
}
.div2{
  display: inline-block;
  overflow: hidden;
}
.firstline{
  white-space: nowrap;
  margin: 5px;
  margin-left: 0px;
}
.bukvi{
  position: relative;
	border-radius: 10px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 0px;
	background: #2a2b2b;
	display: inline-block;
	max-height: 60px;
	z-index: 1;
  white-space: nowrap;
  transition: opacity 0.5s ease;

}
.name{
  z-index: 1;
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1;
  text-align: center;
  max-height: 30px;
  margin: 0px;
  text-shadow: 2px 2px 2px #2a2b2b;
}
.dropBox{
  overflow: hidden;
  width: 1500;
  margin-top: 5px;
}
.poloska{
  position: absolute;
  z-index: 2;
  display: inline-block;
  margin-left: 256px;
  margin-top: 9px;

}

.ruletka{
  z-index: 1;
  overflow: hidden;
}
canvas {
	margin-top: 9px;
	border-radius: 10px;
    image-rendering: pixelated;
}
#username{
	background-color: #2a2b2b;
}
#countRichBox{
  background-color:#f6ff00;
  box-shadow: 0 0 8px #ffb700, inset 0 0 8px #f6ff00;
  -webkit-animation: pulse 2s linear 1s infinite;
}
